$keyheight:16vmin;
body{
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}
#calculator{
 position: relative;
 top: 50%;
 transform: translateY(-50%);
  width: 100vmin;
  margin: 0 auto;
  #result{
    background-color: #f2f2f2;
   text-align: right;
   font-size: 14vmin;
   font-weight: 100;
   line-height: 1.3*$keyheight;
   height: 1.3*$keyheight;
   padding-right: 2vmin;

  }
  #preview{
    background-color: #f2f2f2;
    height: 0.7*$keyheight;
    text-align: right;
    font-size: 6vmin;
    font-weight: 100;
    line-height: 0.7*$keyheight;
    padding-right: 2vmin;
  }
  #keys{
      text-align: center;
    .key{
      background-color: #434343;
      font-size: 8vmin;
      font-weight: 100;
      line-height: $keyheight;
      color:  #f3f3f3;
      height: $keyheight;

    }
  }
  #operations{
      text-align: center;
    .operator{
      background-color: #636363;
      font-size: 6vmin;
        font-weight: 100;
      line-height: 0.8*$keyheight;
      color:  #f2f2f2;
      height: 0.8*$keyheight;
      margin: 0 -15px;

    }

  }
}
